*.DS_Store

/.vim/plugged

/.CFUserTextEncoding
/.Xauthority
/.bash_history
/.berkshelf
/.cache
/.chef
/.cocoapods
/.coffee_history
/.config
/.cpan
/.cups
/.dbshell
/.dropbox
/.fontconfig
/.gem
/.ghc
/.guard_history
/.gyp
/.heroku
/.httpie
/.idea-build
/.lesshst
/.lldb
/.local
/.m2
/.mysql_history
/.netrc
/.node-gyp
/.npm
/.nviminfo
/.nvimlog
/.nw-gyp
/.oh-my-zsh
/.oracle_jre_usage
/.pip
/.pow
/.psql_history
/.rbenv
/.rbx
/.rnd
/.sbt
/.scala_history
/.sqlite_history
/.ssh
/.subversion
/.vagrant.d
/.vim/.netrwhist
/.viminfo
/.wireshark-etc
/.wireshark
/.zsh-update
/.zsh_history
/.zcompdump*
/Applications
/Desktop
/Developer
/Documents
/Downloads
/Dropbox
/Google Drive
/Library/*
/Movies
/Music
/Pictures
/Public
/Vagrantfile
/VirtualBox\ VMs
/Yandex.Disk
/projects
/stuff
